SPOTIFY_CLIENT_ID=98a9117fa4e54d91b4a767a3940f841b
SPOTIFY_CLIENT_SECRET=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
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Optional: default playlist privacy
SPOTIFY_PUBLIC=false
